.wrap {
  box-sizing: border-box;
  max-width: 800px;
  padding: 30px 40px 20px 40px;
  background: #fff;
  box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin: 150px auto auto auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  background: rgba(220, 220, 220, 0.1);
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 20px;
  transition: border-color 250ms ease;
  font-size: 18px;
  padding: 8px 15px;
  margin: 5px auto;
}

.input:focus, .input:active {
  outline: none;
  border-color: #848484;
}

.submit {
  margin-top: 5px;
  margin-left: auto;
  transition: 250ms ease;
}

.submit[disabled] {
  cursor: default;
}
