.input, .textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  background: rgba(220, 220, 220, 0.1);
  border: 1px solid #DCDCDC;
  border-radius: 20px;
  box-sizing: border-box;
}

.input:focus, .textarea:focus {
  outline: none;
}

.input::placeholder, .textarea::placeholder {
  color: #848484;
}

.input {
  padding: 6px 20px;
}

.textarea {
  padding: 16px 20px;
  resize: none;
}

.wrapper {
  width: 100%;
}
