.input, .textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  background: rgba(220, 220, 220, 0.1);
  border: 1px solid #DCDCDC;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: text;
}

.input {
  padding: 6px 20px;
}

.textarea {
  padding: 16px 20px;
  resize: none;
}

.field {
  min-width: 0;
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  padding: 0;
}

.textarea .field {
  width: 100%;
}

.field:focus {
  outline: none;
}

.field::placeholder {
  color: #848484;
}
