.modal {
  min-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 32px 30px 32px;
}

.input {
  max-width: 500px;
  margin-bottom: 20px;
  font-weight: 600;
}

.buttonsGroup {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.error, .suggestion {
  margin: 5px auto 5px 0;
  font-size: 12px;
}

.error {
  color: red;
}
