.form {
  display: grid;
  grid-template-columns: 99px 168px 122px 225px 29px;
  grid-gap: 15px;
  padding: 30px 0;
}

.title {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  height: auto;
  color: #333333;
  width: 100%;
  padding-bottom: 6px;
}

.title::placeholder {
  color: #333333;
}

.title:focus {
  outline: none;
  border-bottom: 1px solid #DCDCDC;
}

.buttonExpand {
  font-size: 0;
  background: url(./arrow.svg) center no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  justify-self: center;
}

.progressGroup {
  grid-column: 1 / span 5;
}

.photoGroup {
  grid-row: 2 / span 4;
}

.nameGroup {
  grid-column: 3 / span 3;
}

.rateGroup {
  grid-column: 3;
}

.countryGroup {
  grid-column: 4 / span 2;
}

.contactGroup {
  grid-column: 3 / span 3;
}

.aboutGroup {
  grid-column: 2 / span 4;
}

.certificationsGroup {
  grid-column: 2 / span 4;
  margin-bottom: 25px;
}

.certificationsWrap {
  grid-column: 3 / span 4;
  justify-self: auto;
  width: 100%;
}

.certifications {
  display: grid;
  grid-template-columns: 183px auto;
  column-gap: 20px;
  min-height: 56px;
  align-items: center;
}

.btnAddCert {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 16px 18px 16px 52px;
  background: linear-gradient(45.27deg, #EF2126 7.84%, #EE7C00 67.22%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: none;
  height: 48px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.btnAddCert::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(./plus.svg) center no-repeat;
  position: absolute;
  top: 16px;
  left: 24px;
}

.buttonsGroup {
  grid-column: 1 / span 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnClose {
  margin-right: 10px;
}
