@keyframes appear {
  from {
    transform: translateY(-400px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-400px);
    opacity: 0;
  }
}

.wrap {
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  will-change: transform, opacity;
}

.form {
  display: grid;
  grid-template-columns: 99px 178px 154px 78px auto;
  grid-template-columns: 99px 178px 154px 78px minmax(0, 1fr);
  column-gap: 12px;
  row-gap: 25px;
  padding: 0 0 45px 0;
}

.buttonExpand {
  font-size: 0;
  background: url(@assets/arrow.svg) center no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  justify-self: center;
}

.photoGroup {
  grid-row: 1 / span 4;
}

.label {
  margin-top: 16px;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.name, .rate, .country {
  margin-top: 11px;
  align-self: flex-start;
}

.about, .certificationsWrap, .contact {
  grid-column: 3 / span 3;
}

.certificationsWrap {
  justify-self: auto;
  width: 100%;
  position: relative;
}

.certifications {
  display: grid;
  grid-template-columns: 183px auto;
  grid-template-columns: 183px minmax(0, 1fr);
  column-gap: 20px;
  min-height: 56px;
  align-items: center;
}

.btnAddCert {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 16px 18px 16px 52px;
  background: linear-gradient(45.27deg, #EF2126 7.84%, #EE7C00 67.22%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: none;
  height: 48px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.btnAddCert::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(./assets/plus.svg) center no-repeat;
  position: absolute;
  top: 16px;
  left: 24px;
}

.btnClose {
  grid-column: 2;
  width: 80px;
  margin-left: auto;
  margin-top: 13px;
}

.btnSave {
  width: 132px;
  margin-top: 13px;
}
