.wrap {
  position: relative;
  margin-top: 13px;
}

.title, .stretch {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  color: #333333;
  padding: 0 0 6px 0;
  box-sizing: border-box;
  width: calc(100% - 15px);
  grid-area: 1 / 1 / 2 / 2;
  border-bottom: 1px solid transparent;
}

.title {
  resize: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
}

.title:focus {
  outline: none;
  border-bottom: 1px solid #DCDCDC;
}

.title::placeholder {
  color: #333333;
}

.stretch {
  white-space: pre-wrap;
  visibility: hidden;
}
