node_modules
nodemon.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

frontend/config.ts
frontend/dist
secret_vars.js
.env
test.js

senior_project.zip
