.lance-header{
   width: 100%;
   box-sizing: border-box;
   height: 29px;
   line-height: 29px;
   background: linear-gradient(2.39deg, #EF2126 7.84%, #EE7C00 67.22%);
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
   border-radius: 20px;
   padding: 0 20px;
   display: flex;
   align-items: center;
   user-select: none;
   @include list-items-max-width;

   &__item{
      display: flex;
      align-items: center;
      color: white;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      opacity: 0.8;
   }
}
