//COLORS
$grey-base:               #333333;
$grey-base-2:             #4F4F4F;
$blue:                    #4c98d3;
$scarlet:                 #eb5757;
$red:                     #ff0000;

$grey:                    #DCDCDC;
$grey-light:              #fbfbfb;
$grey-light-2:            #bdbdbd;
$grey-text:               #848484;
$grey-text-2:             #828282;
$grey-text-light:         #C4C4C4;
$orange:                  #EE7B00;

$tag1:                    #EEEDFF;
$tag1-border:             #C0B6FF;
$tag1-close:              #9D69E0;
$tag2:                    #FFFEDB;
$tag2-border:             #DFE264;
$tag2-close:              #96991C;
$tag3:                    #EBFFDB;
$tag3-border:             #99E264;
$tag3-close:              #4FBB00;
$tag4:                    #D7FFF5;
$tag4-border:             #64E2CB;
$tag4-close:              #00BBAF;

// fonts

$default: 'Proxima Nova Soft', sans-serif;
$icomoon: 'icomoon' !important;


