.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.edit {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
