.body {
  background: rgba(0, 0, 0, 0.64);
  position: relative;
  min-height: 260px;
  font-size: 0;
}

.limits, .warning {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  padding-bottom: 20px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.limits {
  color: #B9B9B9;
}

.warning {
  color: red;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.64);
  mask-image: radial-gradient(circle at center 130px, transparent 0, transparent 110px, white 110px, white 100%);
  pointer-events: none;
}

.circle {
  width: 218px;
  height: 218px;
  border-radius: 110px;
  border: 2px solid #FFFFFF;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  overflow: hidden;
}

.circle::before, .circle::after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5px solid #ffffff;
}

.circle.cropping::before, .circle.cropping::after {
  display: block;
}

.circle::before {
  height: 100%;
  width: 73px;
}

.circle::after {
  height: 73px;
  width: 100%
}

.uploader {
  background: none;
  border: none;
  font-size: 0;
  opacity: 0;
  height: 260px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  padding: 25px 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 19px;
  min-width: 72px;
  height: 72px;
  padding: 0 8px 14px 8px;
  border-radius: 8px;
}

.button[disabled] {
  background: #DCDCDC;
  opacity: 0.5;
  cursor: not-allowed;
}

.button.active {
  background: rgba(220, 220, 220, 0.35);
}

.iconCrop, .iconCamera, .iconBin {
  width: 21px;
  height: 21px;
}

.iconCrop {
  margin-bottom: 5px;
  background: url(assets/iconCropGrey.svg) center no-repeat;
}

.active .iconCrop {
  background: url(assets/iconCrop.svg) center no-repeat;
}

.iconCamera {
  margin-bottom: 5px;
  background: url(assets/iconCamera.svg) center no-repeat;
}

.active .iconCamera {
  background: url(assets/iconCamera.svg) center no-repeat;
}

.iconBin {
  margin-bottom: 5px;
  background: url(assets/iconBin.svg) center no-repeat;
}

.active .iconBin {
  background: url(assets/iconBin.svg) center no-repeat;
}
