.wrap {
  width: 50px;
  height: 50px;
  position: absolute;
}

.wrap svg {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  z-index: 1;
}

.wrap path {
  transition: 500ms ease;
  d: path('M2.4,20.9c-0.4,2.8-0.5,4.6-0.2,7l0.2,1.3c0.1,0.6,0.2,0.8,0.4,1.6l0.6,2c1.1,2.6,2.2,4.6,3.6,6.4l1,1.1	c0.4,0.5,0.8,0.8,1.1,1.1l1.3,1.2c2.4,1.9,3.8,2.6,6.5,3.8l1.2,0.4c0.7,0.2,1.3,0.4,1.8,0.5l1.5,0.3c3.1,0.4,4.1,0.5,7,0l1.4-0.3	c0.7-0.2,1.3-0.3,1.9-0.5l1.5-0.5c3-1.1,4.3-2,6.2-3.6l1.1-0.9c0.5-0.4,0.7-0.7,1.1-1.1l1-1.2c1.8-2,2.6-3.5,3.7-6.1l0.5-1.4	c0.2-0.6,0.3-1.1,0.5-1.9l0.3-1.4c0.3-2.5,0.3-4.6,0-7.5l-0.3-1.5c-0.2-0.6-0.2-0.9-0.4-1.6l-0.6-1.6c-1-2.4-1.9-4-3.6-6.1l-1-1.1	c-0.5-0.5-0.7-0.7-1.2-1.2l-1.3-1.1c-2-1.7-3.5-2.5-6.1-3.5L31.9,3c-0.7-0.2-1.1-0.3-1.8-0.5l-1.3-0.3c-2.5-0.4-4.6-0.5-7.4,0	l-1.2,0.2c-0.7,0.1-1.2,0.2-1.8,0.5l-1.6,0.5c-2.5,1-4.4,2-6.4,3.7L9.2,8.3C8.8,8.7,8.5,9,8,9.5l-0.8,1c-1.8,2.3-2.5,3.5-3.5,6	l-0.5,1.2C3,18.4,3,18.6,2.8,19.3L2.4,20.9z');
}

.complete path {
  d: path('M3.4,21.6c-1.9,1.9-1.9,4.9,0,6.8l1.1,1.1C5,30,5.2,30.7,5,31.3l-0.4,1.5c-0.7,2.6,0.8,5.2,3.4,5.9l1.5,0.4	c0.6,0.2,1.1,0.7,1.3,1.3l0.4,1.5c0.7,2.6,3.3,4.1,5.9,3.4l1.5-0.4c0.6-0.2,1.3,0,1.8,0.5l1.1,1.1c1.9,1.9,4.9,1.9,6.8,0l1.1-1.1	c0.5-0.5,1.1-0.6,1.8-0.5l1.5,0.4c2.6,0.7,5.2-0.8,5.9-3.4l0.4-1.5c0.2-0.6,0.7-1.1,1.3-1.3l1.5-0.4c2.6-0.7,4.1-3.3,3.4-5.9	L45,31.3c-0.2-0.6,0-1.3,0.5-1.8l1.1-1.1c1.9-1.9,1.9-4.9,0-6.8l-1.1-1.1C45,20,44.8,19.3,45,18.7l0.4-1.5c0.7-2.6-0.8-5.2-3.4-5.9	l-1.5-0.4c-0.6-0.2-1.1-0.7-1.3-1.3L38.7,8c-0.7-2.6-3.3-4.1-5.9-3.4L31.3,5c-0.6,0.2-1.3,0-1.8-0.5l-1.1-1.1	c-1.9-1.9-4.9-1.9-6.8,0l-1.1,1.1C20,5,19.3,5.2,18.7,5l-1.5-0.4c-2.6-0.7-5.2,0.8-5.9,3.4l-0.4,1.5c-0.2,0.6-0.7,1.1-1.3,1.3	L8,11.3c-2.6,0.7-4.1,3.3-3.4,5.9L5,18.7c0.2,0.6,0,1.3-0.5,1.8L3.4,21.6z');
  stroke: #FFFFFF;
}

.wrap::before, .wrap::after {
  content: '';
  display: block;
  width: 15px;
  height: 31px;
  position: absolute;
  top: 6px;
  background: url(./ribbon.svg) center no-repeat;
  transform-origin: center;
  z-index: 0;
  opacity: 0;
  transition: 500ms ease;
}

.wrap::before {
  left: 8px;
}

.wrap::after {
  right: 8px;
}

.complete::before {
  transform: translateY(20px) rotate(30deg);
  opacity: 1;
}

.complete::after {
  transform: translateY(20px) rotate(-30deg);
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  opacity: 0;
  transition: opacity 500ms ease;
  z-index: 2;
}

.complete .text {
  opacity: 1;
}
