.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0 37px 0;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.title {
  margin: 0 auto 7px auto;
}

.imgWrap {
  width: 305px;
  height: 134px;
  overflow: hidden;
  margin-top: -17px;
}

.congrats {
  margin: 25px auto 10px auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.message {
  margin: 0 auto 25px auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.btnProfile {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(45.27deg, #EF2126 7.84%, #EE7C00 67.22%);
  border: none;
  border-radius: 20px;
  padding: 6px 20px;
  cursor: pointer;
}
