@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0 123px 0;
  position: relative;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto 7px auto;
}

.title.fadeOut {
  transition: 300ms ease;
  opacity: 0;
  transform: translateY(-30px);
}

.imgWrap {
  margin-top: -17px;
}

.congratsWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 37px;
  opacity: 0;
  transform: translateY(50px);
}

.congrats {
  margin: 0 auto 10px auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.message {
  margin: 0 auto 25px auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.btnProfile {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(45.27deg, #EF2126 7.84%, #EE7C00 67.22%);
  border: none;
  border-radius: 20px;
  padding: 6px 20px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
