.list{
   max-height: 818px;
   height: 818px !important;
   padding-right: 30px;

   &-loading{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 0 ;
      font-size: 20px;

      @include list-items-max-width;

      &:before{
         color: $orange;
         box-shadow: 0 0 8px 1px rgba(238, 123, 0, .4);
         @include loading;
      }

   }

   &-item{
      padding: 32px 20px 28px;
      border-bottom: 1px solid $grey;
      box-sizing: border-box;
      @include list-items-max-width;

      &:last-of-type{
         border-bottom: none;
      }

      &__info{
         position: relative;
         display: flex;
         align-items: center;
      }

      &__details{
         padding-top: 32px;
      }

      &__figure{
         margin: 0;

         img{
            max-width: 100%;
            border-radius: 50%;
            vertical-align: top;
         }
      }

      &__title{
         font-size: 20px;
         line-height: 24px;
         font-weight: bold;
         color: $grey-base;
      }

      &__text{
         font-size: 16px;
         line-height: 19px;
         color: $grey-base;
      }

      &__about{

         & > a{
            font-size: 16px;
            line-height: 19px;
            color: $grey-base;
            text-decoration: none;
         }
      }

      &__opener{
         position: absolute;
         top: 1px;
         bottom: 5px;
         right: -4px;
         background: url("/img/icons/caret-down-gradient.svg") no-repeat center;
         margin: auto;
         width: 22px;
         height: 22px;
         cursor: pointer;
         background-size: 15px 15px;

         /*&:before{
            @include gradient-primary;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }*/

         &.opened{
            transform: rotate(180deg);
         }
      }
   }
}
