.row{
   display: flex;

   &__item{
      padding-bottom: 39px;

      &:nth-child(1){
         padding-left: 85px;
         width: 145px;
         min-width: 145px;
         margin-right: 63px;
      }

      &:nth-child(2){
         max-width: calc(100% - 293px);
         width: 100%;
      }

      &--centered{
         display: flex;
         align-items: center;
      }
   }
}
