@import './fonts.css';

body {
  margin: 0;
  font-family: 'ProximaSoft', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

@import './variables.css';
