@mixin field{
   background: rgba(220, 220, 220, 0.1);
   border: 1px solid $grey;
   box-sizing: border-box;
   border-radius: 50px;
   min-height: 36px;
   padding-left: 13px;
   color: $grey-text-2;
   outline: none;
}

.form{
   .letter-below-signform {
      font-size: 12px;
      line-height: 14px;
      font-family: Proxima Nova soft;
      text-align: center;
      margin-bottom: -24px;
      font-weight: bold;
      font {
         cursor: pointer;
      }
   }
   .p-validate {
      font-size: 15px;
      line-height: 14px;
      font-family: Proxima Nova soft;
      text-align: center;
      font-weight: bold;
      color: red;
   }
   &-join{
      padding-bottom: 41px;
   }

   &__header{
      padding: 31px 0 27px;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;

      &--m-b-7{
         margin-bottom: 7px;
      }

      &--certificate{

         span{
            min-width: 258px;
         }
      }

      span{
         display: block;
         text-align: center;
         font-weight: bold;
         font-size: 20px;
         line-height: 1;
         padding: 15px 20px;
         background: #FFFFFF;
         border: 1px solid $grey;
         box-sizing: border-box;
         border-radius: 30px;
         color: $grey-text-2;
      }

      &:after{
         content: '';
         display: block;
         height: 1px;
         background: $grey;
         position: absolute;
         z-index: -1;
         @include full-area;

      }
   }

   &__content{
      padding: 0 46px 0 43px;

      &:last-of-type{

         &:after{
            content: '';
            display: block;
            width: calc(100% - 26px);
            height: 1px;
            margin: 0 auto 32px;
            background: $grey;
         }
      }
   }

   &__row{
      display: flex;
      align-items: flex-start;
      margin: 0 -10px 39px;

      &:last-of-type{
         margin-bottom: 50px;
      }

      &--small-margin-b{
         margin-bottom: 10px;

         &:last-of-type{
            margin-bottom: 10px;
         }
      }

      &--m-b-30{
         margin-bottom: 30px;
      }

      &-item{
         width: calc(50% - 20px);
         min-width: calc(50% - 20px);
         max-width: calc(50% - 20px);
         margin: 0 10px;
      }
   }

   &__field{
      position: relative;

      label{
         padding-left: 13px;
         color: $grey-base;
         padding-bottom: 12px;
         font-size: 20px;
         font-weight: bold;
         line-height: 24px;
         display: block;
         box-sizing: border-box;
      }

      input{
         @include field;
         width: 100%;
         border-radius: 18px !important;
      }

      textarea{
         background: rgba(220, 220, 220, 0.1);
         border: 1px solid $grey;
         box-sizing: border-box;
         border-radius: 18px;
         min-height: 36px;
         padding-left: 13px;
         color: $grey-text-2;
         outline: none;
         width: 100% !important;
         height: 218px;
         resize: vertical;
         padding-top: 9px;
         padding-left: 13px;
         &::placeholder {
            position: fixed;
            left: 13px;
            top: 9px;
            color:  #BDBDBD;
            font-size: 16px;
            line-height: 19px;
         }
      }

    
      &--t-center{

         input{
            text-align: center;
         }
      }

   }

   &_fullwidth {
      width: 100%;
      label {
         margin-left: 25%;
      }
      input {
         margin-left: 25%;
         width: 50% !important;
      }
   }

   &__photo-upload{
      padding-top: 12px;
   }

   &__select{
      position: relative;
      display: flex;
      align-items: center;

      &-set{
         display: flex;
         align-items: center;

         &--rate{
            position: relative;
            justify-content: space-between;
            margin-top: 44px;

            &:before{
               content: '';
               display: block;
               width: 30px;
               height: 1px;
               background: $grey-light-2;
               @include full-area;
            }
         }
      }

      &--rate{
         width: 143px;

         span{
            position: absolute;
            top: -30px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            color: $grey-base-2;
         }
      }

      &--month{
         width: 105px;
         min-width: 105px;
         margin-right: 17px;
      }

      &--day{
         width: 91px;
         min-width: 91px;
         margin-right: 17px;
      }

      &--year{
         flex-grow: 1;
      }

      select{
         @include field;
         width: 100%;
         appearance: none;
         -webkit-appearance: none;

         &::-ms-expand {
            display: none;
         }
      }

      i{
         display: block;
         position: absolute;
         right: 15px;
         width: 0;
         height: 0;
         border-left: 5px solid transparent;
         border-right: 5px solid transparent;
         border-top: 5px solid $grey-text;
      }
   }

   &__fieldset{

   }

   &__description{

   }

   &__button{

      &--submit{
         font-weight: bold;
         color: rgba(255, 255, 255, .8);
         padding: 6px 15px 7px;
      }

      &--profile{
         font-weight: bold;

         &:first-of-type{
            margin-right: 32px;
            color: rgba(130, 130, 130, .7);
         }
      }

      &-wrapper{

         &--certificate{
            margin-bottom: 30px;

            &.adding{
               margin-bottom: 10px;
            }
         }

         &--certificate-new{
            margin-bottom: 40px;
         }

         &--profile{
            padding-bottom: 67px;
         }
      }
   }

   &__footer{

      p{
         font-size: 14px;
         line-height: 17px;
         text-align: center;
         color: $grey-text-2;
         margin-bottom: 24px;

      }
   }
}
