.wrap {
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto 97px auto;
  /* padding: 32px 48px; */
  box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: relative;
}

.header {
  padding: 32px 48px 0 48px;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.08);
}

.tableHead {
  display: grid;
  grid-template-columns: 99px 198px 130px 78px 110px 29px;
  column-gap: 12px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  padding: 7px 0 8px 0;
  background: linear-gradient(45.27deg, #EF2126 7.84%, #EE7C00 67.22%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.body {
  box-sizing: border-box;
  height: 836px;
  padding: 0 48px;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  position: relative;
  will-change: transform;
  transition: transform 250ms ease;
}

.row > div:first-of-type, .row > div:nth-of-type(4),
.tableHead > span:first-of-type, .tableHead > span:nth-of-type(4),
.row > div:first-of-type, .row > div:nth-of-type(5),
.tableHead > span:first-of-type, .tableHead > span:nth-of-type(5) {
  justify-self: center;
}

.footer {
  width: 100%;
  height: 32px;
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.08);
  clip-path: polygon(-60px 0, calc(100% + 60px) 0, calc(100% + 60px) calc(100% + 60px), -60px calc(100% + 60px)); */
}

.noMatches {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
