@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wrap {
  padding: 32px 0;
  border-top: 1px solid #DCDCDC;
  transition: transform 250ms ease;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.wrap:first-of-type {
  border-top: none;
}

.background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fff;
}

.last {
  box-sizing: border-box;
  transition: transform 250ms ease, height 250ms ease;
  overflow: hidden;
}

.expanded {
  overflow: visible;
}

.collapseContent, .expandContent {
  display: grid;
  grid-template-columns: 99px 198px 130px 78px 110px 29px;
  column-gap: 12px;
  row-gap: 25px;
  align-items: center;
}

.expandContent {
  padding-top: 25px;
  position: absolute;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.rate {
  text-align: center;
  padding-right: 38px;
}

.country {
  text-align: center;
}

.buttonExpand {
  font-size: 0;
  background: url(@assets/arrow.svg) center no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  justify-self: center;
  transform-origin: center;
  transition: transform 150ms ease;
}

.aboutTitle, .certificationsTitle, .contactTitle {
  grid-column: 2;
}

.aboutTitle {
  align-self: start;
}

.about, .certifications, .contact {
  grid-column: 3 / span 4
}

.about {
  margin: 0;
}

.contact {
  color: inherit;
  text-decoration: none;
}
