.wrap {
  box-sizing: border-box;
  min-height: 56px;
  padding: 14px 22px;
  background: rgba(220, 220, 220, 0.1);
  border: 1px solid #DCDCDC;
  border-radius: 50px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #848484;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4px;
  position: relative;
}

.label {
  margin-right: 2px;
}

.addButton {
  display: inline-block;
  box-sizing: border-box;
  width: 29px;
  height: 29px;
  font-size: 0;
  background: linear-gradient(135deg, #EF2126 0%, #EE7C00 94.77%);
  border: none;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-left: 2px;
}

.addButton::before, .addButton::after {
  content: '';
  display: block;
  position: absolute;
}

.addButton::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #DC9A38;
  filter: blur(14px);
  z-index: 0;
}

.addButton::after {
  width: 25px;
  height: 25px;
  top: 2px;
  left: 2px;
  border-radius: 2px;
  background-color: #FFEDE0;
  background-image: url(assets/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 50ms ease;
}

.addButton:active::after, .addButton.pushed::after {
  background-color: transparent;
  background-image: url(assets/plus-white.svg);
}

.addButton:active {
  background: linear-gradient(135deg, #bf1a1e 0%, #be6300 94.77%);
}

.country, .rate, .certification {
  border: 2px solid;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 2px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: appear;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  transform-origin: left center;
  transition: background-color 250ms ease;
  will-change: transform, opacity;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    trasform: scale(1, 1);
  }
}

.country {
  background-color: #EEEDFF;
  border-color: #C0B6FF;
  --remove-color: #9D69E0;
}

.rate {
  background-color: #FFFEDB;
  border-color: #DFE264;
  --remove-color: #96991C;
}

.certification.even {
  background-color: #EBFFDB;
  border-color: #99E264;
  --remove-color: #4FBB00;
}

.certification.odd {
  background-color: #D7FFF5;
  border-color: #64E2CB;
  --remove-color: #00BBAF;
}
