.input-range{
   display: flex;
   align-items: center;
   justify-content: space-between;

   &__item{

      label{
         position: relative;
         display: block;
      }

      input{
         box-sizing: border-box;
         outline: none;
         padding: 0 8px;
         font-size: 14px;
         color: $grey-text;
         text-align: center;
      }
   }

   &__label{
      position: absolute;
      top: -12px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;

      span{
         font-size: 14px;
         line-height: 17px;
         color: $grey-text;
         background: white;
         padding: 0 6px;

      }
   }
}
