.title {
  display: block;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.line {
  width: 288px;
  height: 4px;
  background: #B9B9B9;
  position: relative;
}

.caret {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: absolute;
  top: -6px;
  left: -6px;
  background: #EE7C00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.filled {
  height: 4px;
  position: absolute;
  top: 0;
  background: #EE7C00;
}
